<template>
    <div class="m-0 vh-100 row justify-content-center align-items-center">
      <div class="card card-container col-auto p-5 text-center">
        <form name="form" @submit.prevent="handleLogin" class="form-signin" >
          <div class="form-group">
            <label for="email">Email</label>
            <input
              v-model="user.email"
              v-validate="'required'"
              type="email"
              class="form-control"
              name="email"
              autofocus
            />
            <div
              v-if="errors.has('email')"
              class="alert alert-danger"
              role="alert"
            >Correo es requerido!</div>
          </div>
          <div class="form-group">
            <label for="birthdate" sr-only>Fecha de nacimiento</label>
            <input
              v-model="user.birthdate"
              v-validate="'required'"
              type="date"
              class="form-control"
              name="birthdate"
            />
            <div
              v-if="errors.has('birthdate')"
              class="alert alert-danger"
              role="alert"
            >Fecha de nacimiento es campo obligatorio!</div>
          </div>
          <div class="form-group mt-2">
            <button class="btn btn-primary btn-block" :disabled="loading">
              <span v-show="loading" class="spinner-border spinner-border-sm"></span>
              <span>Enviar a enlace de reestablecimiento a mi correo</span>
            </button>
          </div>
          <div class="form-group">
            <div v-if="message" class="alert alert-danger" role="alert">{{message}}</div>
          </div>
        </form>
      </div>
    </div>
  </template>
  
  <script>
  import User from '../models/user';
  
  export default {
    name: 'ForgotPasswordView',
    data() {
      return {
        user: new User('', ''),
        loading: false,
        message: ''
      };
    },
    methods: {
      handleLogin() {
        this.loading = true;
        this.$validator.validateAll().then(isValid => {
          if (!isValid) {
            this.loading = false;
            return;
          }
  
          if (this.user.email && this.user.birthdate) {
            this.$store.dispatch('auth/forgot', this.user).then(
              () => {
                this.$router.push('/login');
              },
              error => {
                this.loading = false;
                this.message =
                  (error.response && error.response.data) ||
                  error.message ||
                  error.toString();
              }
            );
          }
        });
      },
    }
  };

  </script>