<template>
    <div class="m-0 vh-100 row justify-content-center align-items-center">
      <div class="card card-container col-auto p-5 text-center">
        <form name="form" @submit.prevent="handleLogin" class="form-signin" >
          <div class="form-group">
            <label for="username">Email</label>
            <input
              v-model="user.username"
              v-validate="'required'"
              type="email"
              class="form-control"
              name="username"
              autofocus
            />
            <div
              v-if="errors.has('username')"
              class="alert alert-danger"
              role="alert"
            >usuario es requerido!</div>
          </div>
          <div class="form-group">
            <label for="password" sr-only>Contraseña</label>
            <input
              v-model="user.password"
              v-validate="'required'"
              type="password"
              class="form-control"
              name="password"
            />
            <div
              v-if="errors.has('password')"
              class="alert alert-danger"
              role="alert"
            >Contraseña es campo obligatorio!</div>
          </div>
          <a href="" @click="forgotPassword()"> <small id="emailHelp" class="form-text text-muted">Olvidaste tu Contraseña?.</small></a>
          <div class="form-group mt-2">
            <button class="btn btn-primary btn-block" :disabled="loading">
              <span v-show="loading" class="spinner-border spinner-border-sm"></span>
              <span>Iniciar Sesion</span>
            </button>
          </div>
          <div class="form-group">
            <div v-if="message" class="alert alert-danger" role="alert">{{message}}</div>
          </div>
        </form>
      </div>
    </div>
  </template>
  
  <script>
  import User from '../models/user';
  
  export default {
    name: 'LoginView',
    data() {
      return {
        user: new User('', ''),
        loading: false,
        message: ''
      };
    },
    computed: {
      loggedIn() {
        return this.$store.state.auth.status.loggedIn;
      }
    },
    created() {
      if (this.loggedIn) {
        this.$router.push('/profile');
      }
    },
    methods: {
      handleLogin() {
        this.loading = true;
        this.$validator.validateAll().then(isValid => {
          if (!isValid) {
            this.loading = false;
            return;
          }
  
          if (this.user.username && this.user.password) {
            this.$store.dispatch('auth/login', this.user).then(
              () => {
                this.$router.push('/profile');
              },
              error => {
                this.loading = false;
                this.message =
                  (error.response && error.response.data) ||
                  error.message ||
                  error.toString();
              }
            );
          }
        });
      },
      forgotPassword(){
        console.log('forgot password')
        this.$router.push('/forgot-password');
      }
    }
  };

  </script>