<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <header class="jumbotron">
          <h3>PALINDROMOS: {{ palindromes.length }}</h3>
        </header>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-12">
          <div class="form-control">
            <div class="row">
              <div class="col-md-8">
                <label>Texto: </label>
                <input
                  type="text"
                  class="form-control"
                  id="texto"
                  v-model="texto"
                />
              </div>
              <div class="col-md-4">
                <button class="btn btn-success mt-3" @click="findPalindromes()">
                  Buscar
                </button>
              </div>
            </div>
          </div>
          <hr />
          <ul class="list-group">
            <li
              class="list-group-item"
              v-for="(i, index) in palindromes"
              :key="index"
            >
              {{ i }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
  
    <script>
export default {
  name: "ProfileView",
  components: {},
  data() {
    return {
      texto: "",
      palindromes: [],
      count: 0,
    };
  },
  methods: {
    isPalindrome(str) {
      if (str.length < 2) {
        return false;
      }
      return str === str.split("").reverse().join("");
    },
    findPalindromes() {
      this.palindromes = [];
      let word = this.texto;
      // Generar todas las subcadenas posibles
      for (let i = 0; i < word.length; i++) {
        for (let j = i + 1; j <= word.length; j++) {
          const subStr = word.substring(i, j);
          if (this.isPalindrome(subStr)) {
            this.palindromes.push(subStr);
          }
        }
      }
    },
  },
};
</script>