<template>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <header class="jumbotron">
          <h3>Listado de Empleados</h3>
        </header>
      </div>
      <div class="col-md-6 text-end">
        <button class="btn btn-primary" @click="createEmployee()">
          <i class="fa fa-plus"></i>
          Nuevo Empleado
        </button>
      </div>
    </div>
    <div class="container mt-5">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">DPI</th>
            <th scope="col">NOMBRE</th>
            <th scope="col">HIJOS</th>
            <th scope="col">SALARIO BASE</th>
            <th scope="col">CREADO POR</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(i, index) in employees" :key="index">
            <th scope="row">{{ index + 1 }}</th>
            <td>{{ i.dpi }}</td>
            <td>{{ i.full_name }}</td>
            <td>{{ i.children }}</td>
            <td>{{ i.base_salary }}</td>
            <td>{{ i.created_by.username }}</td>
            <td>
              <button class="btn btn-outline-primary" @click="showDetail(i.id)">
                Ver
              </button>
              <button class="btn btn-outline-success" @click="showDetail(i.id, true)">
                Modificar
              </button>
              <button class="btn btn-outline-danger" @click="deleteEmployee(i.id)">
                Eliminar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <new-employee
      :isOpen="openFormEmployee"
      @close="(openFormEmployee = false), getEmployees()"
    ></new-employee>
    <data-employee
      :isOpen="showEmployeeModal"
      :edit="modalType"
      :employee="employeeId"
      @close="(showEmployeeModal = false), (employeeId = 0), getEmployees()"
    ></data-employee>
  </div>
</template>

  <script>
import NewEmployee from "../components/CreateEmployee.vue";
import DataEmployee from "../components/DetailEmployee.vue";
import requests from "../services/request.service";
export default {
  name: "ProfileView",
  components: {
    NewEmployee,
    DataEmployee,
  },
  data() {
    return {
      employees: [],
      modalType:false,
      openFormEmployee: false,
      showEmployeeModal: false,
      employeeId: 0,
    };
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
  mounted() {
    if (!this.currentUser) {
      this.$router.push("/login");
    } else {
      this.getEmployees();
    }
  },
  methods: {
    getEmployees() {
      requests
        .get("employees/")
        .then((res) => {
          if (res.status >= 200) {
            this.employees = res.data;
            console.log("response", res.data);
          } else {
            console.log(res.status, res.data);
            console.log(res.data);
          }
        })
        .catch((err) => {
          console.log(err);
          console.log("response", err.response);
        });
    },
    createEmployee() {
      this.openFormEmployee = true;
    },
    showDetail(id,detail=false) {
      this.modalType=detail;
      this.showEmployeeModal = true;
      this.employeeId = id;
    },
    deleteEmployee(id) {
      requests
        .delete(id + "/destroy/")
        .then((res) => {
          if (res.status == 204) {
            this.getEmployees();
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>