<template>
    <div class="m-0 vh-100 row justify-content-center align-items-center">
      <div class="card card-container col-auto p-5 text-center">
        <form name="form" @submit.prevent="handleLogin" class="form-signin" >
          <div class="form-group">
            <label for="email">Establece un nueva contraseña</label>
            <input
              v-model="user.new_password"
              v-validate="'required'"
              type="password"
              class="form-control"
              name="password"
              autofocus
            />
            <div
              v-if="errors.has('password')"
              class="alert alert-danger"
              role="alert"
            >Correo es requerido!</div>
          </div>
          <div class="form-group mt-2">
            <button class="btn btn-primary btn-block" :disabled="loading">
              <span v-show="loading" class="spinner-border spinner-border-sm"></span>
              <span>Cambiar contraseña</span>
            </button>
          </div>
          <div class="form-group">
            <div v-if="message" class="alert alert-danger" role="alert">{{message}}</div>
          </div>
        </form>
      </div>
    </div>
  </template>
  
  <script>
  import User from '../models/user';
  
  export default {
    name: 'ResetPasswordView',
    data() {
      return {
        user: new User('', ''),
        loading: false,
        message: ''
      };
    },
    methods: {
      handleLogin() {
        this.loading = true;
        this.$validator.validateAll().then(isValid => {
          if (!isValid) {
            this.loading = false;
            return;
          }
          console.log("Loading", this.$route.params.token);
          if (this.user.new_password && this.$route.params.token) {
            this.user.reset_token = this.$route.params.token;
            this.$store.dispatch('auth/reset', this.user).then(
              () => {
                this.$router.push('/login', );
              },
              error => {
                this.loading = false;
                this.message =
                  (error.response && error.response.data) ||
                  error.message ||
                  error.toString();
              }
            );
          }
        });
      },
    }
  };

  </script>