<template>
  <div
    class="modal"
    :class="{ show: isOpen }"
    tabindex="-1"
    role="dialog"
    id="createModal"
  >
    <div
      class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Nuevo Formulario</h5>
          <button type="button" class="close" @click="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="row g-3">
            <div class="col-md-6">
              <label for="dpi" class="form-label">DPI</label>
              <input
                type="text"
                v-model="form.dpi"
                class="form-control"
                id="dpi"
              />
            </div>
            <div class="col-md-6">
              <label for="fullname" class="form-label">Nombre Completo</label>
              <input
                type="text"
                class="form-control"
                id="fullname"
                v-model="form.full_name"
              />
            </div>
            <div class="col-6">
              <label for="children" class="form-label">Cantidad de hijos</label>
              <input
                type="number"
                class="form-control"
                id="children"
                placeholder="0"
                v-model="form.children"
              />
            </div>
            <div class="col-6">
              <label for="base_salary" class="form-label">Salario Base</label>
              <input
                type="number"
                step="any"
                class="form-control"
                id="base_salary"
                placeholder="3100.00"
                v-model="form.base_salary"
              />
            </div>
            <hr />
            <div class="col-md-12">
              <p><b>Bono Decreto</b></p>
              <span class="">{{ form.bonus }}</span>
            </div>

            <div class="col-md-3">
              <p><b>IGSS: </b>{{ form.igss }}</p>
            </div>
            <div class="col-md-3">
              <p><b>IRTRA: </b>{{ form.irtra }}</p>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-12">
              <p><b>Bono Paternidad: </b>{{ form.children_bonus }}</p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p><b>Salario Total: </b>{{ form.total_salary }}</p>
                <p><b>Salario Liquido: </b>{{ form.net_salary }}</p>
              </div>
              <div class="col-md-6 text-end">
                <button type="button" class="btn btn-primary" @click="create()">
                  Guardar
                </button>
              </div>
            </div>
          </form>
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import requests from '../services/request.service';
export default {
  props: {
    isOpen: {
      type: Boolean,
      required: true,
      default: false,
    },
  },
  data() {
    return {
      form: {
        dpi: "",
        full_name: "",
        base_salary: 0,
        children: 0,
        bonus: 250,
        igss: 0,
        irtra: 0,
        children_bonus: 0,
        total_salary: 0,
        net_salary: 0,
        created_by_id: undefined,
      },
    };
  },
  methods: {
    clearModal() {
      this.form = {
        dpi: "",
        full_name: "",
        base_salary: 0,
        children: 0,
        bonus: 250,
        igss: 0,
        irtra: 0,
        children_bonus: 0,
        total_salary: 0,
        net_salary: 0,
        // created_by_id: undefined,
      };
    },
    openModal() {
      const modal = document.getElementById("createModal");
      modal.style.display = "block";
      modal.classList.add("show");
      modal.setAttribute("aria-modal", "true");
      modal.removeAttribute("aria-hidden");
      document.body.classList.add("modal-open");
    },
    closeModal() {
      const modal = document.getElementById("createModal");
      modal.style.display = "none";
      modal.classList.remove("show");
      modal.setAttribute("aria-modal", "false");
      modal.setAttribute("aria-hidden", "true");
      document.body.classList.remove("modal-open");
      this.clearModal();
      this.$emit("close");
    },
    create() {
      let data = {
        dpi: this.form.dpi,
        full_name: this.form.full_name,
        base_salary: this.form.base_salary,
        children: this.form.children,
      }
      requests.post("employee/", data).then( res =>{
        if(res.status){
          this.closeModal();
        }
      }).catch(err =>{
        console.log(err);
      })

    },
  },
  watch: {
    isOpen(val) {
      if (val) {
        this.openModal();
      } else {
        this.closeModal();
      }
      console.log("isOpen", val);
    },
    form: {
      handler(val) {
        if (Number(val.base_salary) > 0) {
          // IGSS
          this.form.igss = Number(Number(val.base_salary) * 0.0483).toFixed(2);
          // IRTRA
          this.form.irtra = Number(Number(val.base_salary) * 0.01).toFixed(2);
          // Bono Paternidad
          this.form.children_bonus = Number(Number(val.children) * 133).toFixed(
            2
          );
          // SALARIO TOTAL
          this.form.total_salary = Number(
            Number(val.base_salary) +
              Number(val.bonus) +
              Number(val.children_bonus)
          ).toFixed(2);
          // SALARIO LIQUIDO
          this.form.net_salary = Number(
            Number(this.form.total_salary) -
              Number(this.form.igss) -
              Number(this.form.irtra)
          ).toFixed(2);
        } else {
          // IGSS
          this.form.igss = 0;
          // IRTRA
          this.form.irtra = 0;
          // Bono Paternidad
          this.form.children_bonus = 0;
          // SALARIO TOTAL
          this.form.total_salary = 0;
          // SALARIO LIQUIDO
          this.form.net_salary = 0;
        }
      },
      deep: true,
    },
  },
};
</script>