<template>
  <div
    class="modal"
    :class="{ show: isOpen }"
    tabindex="-1"
    role="dialog"
    id="detailModal"
  >
    <div
      class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar Empleado</h5>
          <button type="button" class="close" @click="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="row g-3" v-if="employee > 0">
            <div class="col-md-6">
              <label for="dpi" class="form-label">DPI</label>
              <input
                type="text"
                v-model="form.dpi"
                class="form-control"
                id="dpi"
                :disabled="!edit"
              />
            </div>
            <div class="col-md-6">
              <label for="fullname" class="form-label">Nombre Completo</label>
              <input
                type="text"
                class="form-control"
                id="fullname"
                v-model="form.full_name"
                :disabled="!edit"
              />
            </div>
            <div class="col-6">
              <label for="children" class="form-label">Cantidad de hijos</label>
              <input
                type="number"
                class="form-control"
                id="children"
                placeholder="0"
                v-model="form.children"
                :disabled="!edit"
              />
            </div>
            <div class="col-6">
              <label for="base_salary" class="form-label">Salario Base</label>
              <input
                type="number"
                step="any"
                class="form-control"
                id="base_salary"
                placeholder="3100.00"
                v-model="form.base_salary"
                :disabled="!edit"
              />
            </div>
            <hr />
            <div class="col-md-12">
              <p><b>Bono Decreto</b></p>
              <span class="" v-if="edit">{{ form.bonus }}</span>
            </div>

            <div class="col-md-3">
              <p><b>IGSS: </b>{{ form.igss }}</p>
            </div>
            <div class="col-md-3">
              <p><b>IRTRA: </b>{{ form.irtra }}</p>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-12">
              <p><b>Bono Paternidad: </b>{{ form.children_bonus }}</p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p><b>Salario Total: </b>{{ form.total_salary }}</p>
                <p><b>Salario Liquido: </b>{{ form.net_salary }}</p>
              </div>
              <div class="col-md-6 text-end">
                <button
                  v-if="edit"
                  type="button"
                  class="btn btn-primary"
                  @click="updateEmployee()"
                >
                  Actualizar
                </button>
              </div>
            </div>
          </form>
          <slot></slot>
        </div>
      </div>
    </div>
  </div>
</template>
  
  <script>
import requests from "../services/request.service";
export default {
  props: {
    isOpen: {
      type: Boolean,
      required: true,
      default: false,
    },
    employee: {
      type: Number,
      required: true,
    },
    edit: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  data() {
    return {
      form: {
        dpi: "",
        full_name: "",
        base_salary: 0,
        children: 0,
        bonus: 0,
        igss: 0,
        irtra: 0,
        children_bonus: 0,
        total_salary: 0,
        net_salary: 0,
        created_by_id: 1,
        id: 1,
        code: "",
        created_by: {
          id: 0,
          username: "",
          email: "username@email.com",
        },
      },
    };
  },
  mounted() {
    this.getEmployee(this.employee);
  },
  methods: {
    openModal() {
      const modal = document.getElementById("detailModal");
      modal.style.display = "block";
      modal.classList.add("show");
      modal.setAttribute("aria-modal", "true");
      modal.removeAttribute("aria-hidden");
      document.body.classList.add("modal-open");
      this.getEmployee(this.employee);
    },
    closeModal() {
      const modal = document.getElementById("detailModal");
      modal.style.display = "none";
      modal.classList.remove("show");
      modal.setAttribute("aria-modal", "false");
      modal.setAttribute("aria-hidden", "true");
      document.body.classList.remove("modal-open");
      this.form = {
        dpi: "",
        full_name: "",
        base_salary: 0,
        children: 0,
        bonus: 0,
        igss: 0,
        irtra: 0,
        children_bonus: 0,
        total_salary: 0,
        net_salary: 0,
        created_by_id: 1,
        id: 1,
        code: "",
        created_by: {
          id: 0,
          username: "",
          email: "username@email.com",
        },
      };
      this.$emit("close");
    },
    getEmployee(employee) {
      if (employee > 0) {
        requests
          .get("employee/" + employee)
          .then((res) => {
            if (res.status) {
              this.form = res.data;
              console.log(res);
            }
          })
          .catch((err) => {
            console.log(err);
          });
      }
    },
    updateEmployee() {
        requests
          .patch(this.employee+"/change/", this.form)
          .then((res) => {
            if (res.status) {
              this.form = res.data;
              this.getEmployee(this.employee);
            }
          })
          .catch((err) => {
            console.log(err);
          });
    },
  },
  watch: {
    employee(val) {
      this.getEmployee(val);
    },
    isOpen(val) {
      if (val) {
        this.openModal();
        this.getEmployee(this.employee);
      } else {
        this.closeModal();
      }
    },
    form: {
      handler(val) {
        if(this.edit){
          if (Number(val.base_salary) > 0) {
            // IGSS
          this.form.igss = Number(Number(val.base_salary) * 0.0483).toFixed(2);
          // IRTRA
          this.form.irtra = Number(Number(val.base_salary) * 0.01).toFixed(2);
          // Bono Paternidad
          this.form.children_bonus = Number(Number(val.children) * 133).toFixed(
            2
            );
            // SALARIO TOTAL
            this.form.total_salary = Number(
              Number(val.base_salary) +
              Number(val.bonus) +
              Number(val.children_bonus)
              ).toFixed(2);
          // SALARIO LIQUIDO
          this.form.net_salary = Number(
            Number(this.form.total_salary) -
            Number(this.form.igss) -
            Number(this.form.irtra)
            ).toFixed(2);
          } else {
            // IGSS
            this.form.igss = 0;
            // IRTRA
            this.form.irtra = 0;
            // Bono Paternidad
          this.form.children_bonus = 0;
          // SALARIO TOTAL
          this.form.total_salary = 0;
          // SALARIO LIQUIDO
          this.form.net_salary = 0;
        }
      }
      },
      deep: true,
    },
  },
};
</script>